@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist

<h4>Create a new stylist record</h4>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)
  @Html.LabelFor(model => model.Details)
  @Html.TextBoxFor(model => model.Details)
  <input type="submit" value="Add new stylist" />
}
<p>@Html.ActionLink("Show all stylists", "Index")</p>